<article>
  <h2>
    <a
      href="{{ path('category_detail', { 'id': category.id }) }}"
    > 
      {{ category.name }}
    </a>  
  </h2>
  <div>Total de artículos: {{ category.totalArticles }}</div>
</article>